//fonts
$font_0: Georgia;
$font_1: Times New Roman;
$font_2: Serif;

body {
  font-family: $font_0, $font_1, $font_2;
}

input {
  font-family: $font_0, $font_1, $font_2;
}

textarea {
  font-family: $font_0, $font_1, $font_2;
}
